language: java
dist: trusty

jdk:
  - openjdk8
  - openjdk11
  - openjdk16

script:
  - mvn clean install jacoco:report coveralls:report
  - mvn -f examples/pom.xml clean package
  - mvn -f spring-boot-example/pom.xml clean package

addons:
   hosts:
       - travis
   hostname: travis

after_success:
  - python <(curl -s https://raw.githubusercontent.com/TouK/sputnik-ci/master/sputnik-ci.py)
  - mvn sonar:sonar -Dsonar.projectKey=javadev_underscore-java -Dsonar.organization=javadev-github -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_LOGIN
