version: '{build}'
skip_tags: true
clone_depth: 30
environment:
  JAVA_HOME: C:\Program Files\Java\jdk17
install:
  - ps: |
      Add-Type -AssemblyName System.IO.Compression.FileSystem
      if (!(Test-Path -Path "C:\maven\apache-maven-3.9.9" )) {
        (new-object System.Net.WebClient).DownloadFile(
          'https://archive.apache.org/dist/maven/maven-3/3.9.11/binaries/apache-maven-3.9.9-bin.zip',
          'C:\maven-bin.zip'
        )
        [System.IO.Compression.ZipFile]::ExtractToDirectory("C:\maven-bin.zip", "C:\maven")
      }
  - cmd: SET PATH=C:\maven\apache-maven-3.9.11\bin;%JAVA_HOME%\bin;%PATH%
build_script:
  - mvn clean install -B -DskipTests
test_script:
  - mvn clean install jacoco:report -B
  - mvn -f examples/pom.xml clean package
cache:
  - C:\maven\apache-maven-3.9.11
